.contact {
  display: block;
  background-image: linear-gradient(
      rgba(240, 240, 240, 0.6),
      rgba(240, 240, 240, 0.5)
    ),
    url("../../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100vh;

    img {
      width: 400px;
    }

    &__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 50px;

      p {
        font-size: 1.8rem;
      }

      a {
        font-size: 1.8rem;
        text-decoration: none;
        text-decoration: underline;
        color: black;
      }
    }
  }
}

@media (max-width: 1190px) {
  .contact {
    &__container {
      display: flex;
      flex-direction: column;
      &__item {
        img {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .contact {
    &__container {
      display: flex;
      flex-direction: column;
      &__item {
          padding: 10px;
        img {
          width: 300px;
        }
      }
    }
  }
}
