
.socialMedia {
    display: block;
    &__container {
        display: flex;
        background-color: rgba(240, 240, 240, .8);
        border-radius: 12px;
        gap: 10px;
        justify-content: center;

        p {
            font-size: 1.5rem;
            font-weight: 700;
        }

        i {
            display: flex;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
        }

    }
}